.container{
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

.Main{
    display: flex;
    flex-direction: column;

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5rem;
        padding: 4px;
        background-color: var(--black);
        border-radius: 10px;
        transition: .5s;

        &:hover{
            transform: scale(1.2);
            background-color: #383838;

        }
    }
}